# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
env/
*.env

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Documentation
doc/
PROJECT_PROGRESS.md
